body {
    background: linear-gradient(to right, #26d0ce, #1a2980);
 }
 
 button {
   border: 2px solid black;
   margin: 20px 40px;
   padding: 10px 20px;
   border-radius: 500px;
   background-color: white;
   color: red;
   font-weight: 700;
 }
 
 button:hover {
   cursor: pointer;
 }